#MainInput{
    width: 250px;
}
.content{
    background-color:#efefef;
}
#toolbar{
    margin: auto;
}
md-toast.md-success-theme .md-toast-content {
    font-size: 20px;
    background-color: green;
}
md-toast.md-error-theme .md-toast-content {
    font-size: 20px;
    background-color: red;
}